
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

                                   /* shared style  */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.max-width{
     max-width: 1140px;
     margin: 0 auto;
}

.primary-bg{
     background-color:#1A0B2E ;
     color: #ffffff;
}
.text-center{
     text-align: center;
}
main section{
     margin-top: 8rem;
}

.section-title{
     margin-top: 7rem;
     font-size: 3rem;
     font-weight: 700;
     margin-bottom: 3rem;
}
.section-description{
     font-size: 1rem;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.6);
}

.secondary-bg{
     background-color: rgb(37,13,68);
}

                                   /* navbar styles  */

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 2rem;
}
.nav-title span {
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
     display: flex;
     gap: 2rem; 
}

nav li{
     list-style: none;
}
nav li a{
     text-decoration: none;
     color: #ffffff;
}

.subscribe-btn{
     border: none;
     border-radius: 25px;
     font-size: 1rem;
     font-weight: 600;
     color: #ffffff;
     padding: 12px 40px 12px 16px;
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     cursor: pointer;
}
.subscribe-btn:hover{
     box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}
.none{
     display: none;
}
.nav-link a:hover {
  color: #ff3cac;
}
.hr-line{
     border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.secondary-color{
     color: rgba(255, 255, 255, 0.6);
}

/* banner styles  */

.why-techwave-bg{
     background-color: rgb(35, 14, 61);
}
.banner-title{
     font-size: 3rem;
     font-weight: 700;
     padding-top: 7rem;
     padding-bottom: 40px;
     margin-top: 7rem;
     margin-bottom: 3rem;
}
.cards-container{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
     padding-bottom: 120px;
}

.card{
     /* background-color: rgb(37,13,68); */
     background-color: rgb(45, 18, 79);
     border-radius: 1rem;
     padding: 40px;
}
.card-title{
     font-size: 24px;
     font-weight: bold;
     margin-top: 10px;
     margin-bottom: 10px;
}
.card-description{
     font-size: 1rem;
     font-weight: 400;
     color: rgba(255, 255, 255, 0.6);

}
#card-1{
     grid-row: span 2;
}
#card-2, #card-3{
     grid-column: span 2;
}
#card-4{
     grid-column: span 2;
     background: linear-gradient(135deg, #12061f, #1f0b35);

}






















                              /* about the podcast styles  */


.podcast-section-description{
     margin-bottom: 10px;
     color: rgba(255, 255, 255, 0.6);
}
#hr-margin{
     margin-top: 40px;
     margin-bottom: 40px;
}
.stats{
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.stats-title{
     font-size: 2rem;
     font-weight: 800;
     color: #00FF88;
}
.stats-description{
     color: rgba(255, 255, 255, 0.6);
     font-size: 1rem;
     font-weight: 400;
     margin-top: 10px;
}
                              /* meet the host section styles  */
.host{
     margin-bottom: 120px;
}

.host-info-container{
     display: flex;
     align-items: center;
     /* gap: 1rem; */
}
.host-bg{
     background-color: rgb(45, 18, 79);
}
.host-img{
      padding: 40px 24px 40px 40px;
}
.host-name{
     font-size: 2rem;
     font-weight: 700;
     margin-bottom: 1rem;
}
.host-description{
     font-size: 1rem;
     font-weight: 400;
     margin-bottom: 10px;
     color: rgba(255, 255, 255, 0.6);
}
.host-social-link{
     display: flex;
     align-items: center;
     gap: 8px;
     margin-top: 1rem;
}

#border-radius{
     border-radius: 1.5rem;
}
                              /* footer section styles  */

.footer-bg{
     background-image: url(../assets/footer-bg.png);
     /* background-repeat: no-repeat;
     background-size: cover;
     background-position-x: left; */
}

.footer-title{
     font-size: 4rem;
     padding-top: 6rem;
     margin-bottom: 2rem;
     margin-left: 2rem;
     padding-left: 85px;
}
.footer-title span {
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-link{
     display: flex;
     gap: 40px;
     margin-left: 420px; 
     padding-bottom: 2rem;
}

.social-media-name{
     font-size: 1rem;
     font-weight: 500;
     color: rgba(255, 255, 255, 0.6);
}

.copyright{
     margin-top: 1.5rem;
     padding-bottom: 7.5rem;
     padding-left: 115px;
     color: rgba(255, 255, 255, 0.6);
}

/* Responsive Media query  */

               /* navbar responsive  */

/* small device  */
@media screen and (max-width: 576px) {
     .nav-link, .subscribe-btn{
          display: none;
     }
     .none{
          display: block;
          margin-right: 1rem;
     }
     .nav-title{
          margin-left: 1rem;
     }
}
