
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* shared style  */
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.max-width{
     max-width: 1140px;
     margin: 0 auto;
}

.primary-bg{
     background-color:#1A0B2E ;
     color: #ffffff;
}
.text-center{
     text-align: center;
}
/* navbar styles  */

.navbar{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 2rem;
     margin-bottom: 2rem;
}
.nav-title span {
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-link{
     display: flex;
     gap: 2rem; 
}

nav li{
     list-style: none;
}
nav li a{
     text-decoration: none;
     color: #ffffff;
}

.subscribe-btn{
     border: none;
     border-radius: 25px;
     font-size: 1rem;
     font-weight: 600;
     color: #ffffff;
     padding: 12px 40px 12px 16px;
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     cursor: pointer;
}
.subscribe-btn:hover{
     box-shadow: 0 8px 20px rgba(255, 60, 172, 0.4);
}
.none{
     display: none;
}
.nav-link a:hover {
  color: #ff3cac;
}
.hr-line{
     border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/* footer section styles  */

.footer-bg{
     background-image: url(../assets/footer-bg.png);
}

.footer-title{
     padding-top: 6rem;
     margin-bottom: 2rem;
}
.footer-title span {
     background: linear-gradient(90deg,#F7E93F 0%,#FB09B4 51%,#9100F8 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-link{
     display: flex;
     gap: 40px;
     margin-left: 400px; 
}

.social-media-name{
     font-size: 1rem;
     font-weight: 500;
}

.copyright{
     margin-top: 2rem;
     padding-bottom: 7.5rem;
     padding-left: 80px;
}

/* Responsive Media query  */

               /* navbar responsive  */

/* small device  */
@media screen and (max-width: 576px) {
     .nav-link, .subscribe-btn{
          display: none;
     }
     .none{
          display: block;
          margin-right: 1rem;
     }
     .nav-title{
          margin-left: 1rem;
     }
}
